In [40]:
import pandas as pd

In [41]:
df = pd.read_csv('./date_text_data.csv')
print(df.columns)
df.head()

Index(['Date', 'Value'], dtype='object')

         Date  Value
0  01-01-2019    1.0
1  01-02-2019    2.0
2  01-03-2019    3.0
3  01-05-2019    5.0
4  01-01-2019    NaN

In [42]:
idx = pd.date_range(min(df['Date']), max(df['Date']))

print(idx)

DatetimeIndex(['2019-01-01', '2019-01-02', '2019-01-03', '2019-01-04',
               '2019-01-05'],
              dtype='datetime64[ns]', freq='D')

In [49]:
df['Date'] = pd.to_datetime(df['Date'], errors='coerce')
groupby_data = df.groupby(pd.Grouper(key="Date"))

results = groupby_data.mean()

mean = df['Value'].mean()
group_data=results.reindex(idx, fill_value=mean)

print(group_data)

            Value
2019-01-01   1.00
2019-01-02   2.00
2019-01-03   3.00
2019-01-04   2.75
2019-01-05   5.00