In [75]:
import pandas as pd

In [76]:
dir(pd)

['Categorical',
 'CategoricalIndex',
 'DataFrame',
 'DateOffset',
 'DatetimeIndex',
 'ExcelFile',
 'ExcelWriter',
 'Expr',
 'Float64Index',
 'Grouper',
 'HDFStore',
 'Index',
 'IndexSlice',
 'Int64Index',
 'Interval',
 'IntervalIndex',
 'MultiIndex',
 'NaT',
 'Panel',
 'Period',
 'PeriodIndex',
 'RangeIndex',
 'Series',
 'SparseArray',
 'SparseDataFrame',
 'SparseSeries',
 'Term',
 'TimeGrouper',
 'Timedelta',
 'TimedeltaIndex',
 'Timestamp',
 'UInt64Index',
 'WidePanel',
 '_DeprecatedModule',
 '__builtins__',
 '__cached__',
 '__doc__',
 '__docformat__',
 '__file__',
 '__loader__',
 '__name__',
 '__package__',
 '__path__',
 '__spec__',
 '__version__',
 '_hashtable',
 '_lib',
 '_libs',
 '_np_version_under1p10',
 '_np_version_under1p11',
 '_np_version_under1p12',
 '_np_version_under1p13',
 '_np_version_under1p14',
 '_np_version_under1p15',
 '_tslib',
 '_version',
 'api',
 'bdate_range',
 'compat',
 'concat',
 'core',
 'crosstab',
 'cut',
 'date_range',
 'datetime',
 'datetools',
 'describe_option',
 'errors',
 'eval',
 'factorize',
 'get_dummies',
 'get_option',
 'get_store',
 'groupby',
 'infer_freq',
 'interval_range',
 'io',
 'isna',
 'isnull',
 'json',
 'lib',
 'lreshape',
 'match',
 'melt',
 'merge',
 'merge_asof',
 'merge_ordered',
 'notna',
 'notnull',
 'np',
 'offsets',
 'option_context',
 'options',
 'pandas',
 'parser',
 'period_range',
 'pivot',
 'pivot_table',
 'plot_params',
 'plotting',
 'pnow',
 'qcut',
 'read_clipboard',
 'read_csv',
 'read_excel',
 'read_feather',
 'read_fwf',
 'read_gbq',
 'read_hdf',
 'read_html',
 'read_json',
 'read_msgpack',
 'read_parquet',
 'read_pickle',
 'read_sas',
 'read_sql',
 'read_sql_query',
 'read_sql_table',
 'read_stata',
 'read_table',
 'reset_option',
 'scatter_matrix',
 'set_eng_float_format',
 'set_option',
 'show_versions',
 'test',
 'testing',
 'timedelta_range',
 'to_datetime',
 'to_msgpack',
 'to_numeric',
 'to_pickle',
 'to_timedelta',
 'tools',
 'tseries',
 'tslib',
 'unique',
 'util',
 'value_counts',
 'wide_to_long']

In [ ]:
'''
 'read_clipboard',
 'read_csv',
 'read_excel',
 'read_feather',
 'read_fwf',
 'read_gbq',
 'read_hdf',
 'read_html',
 'read_json',
 'read_msgpack',
 'read_parquet',
 'read_pickle',
 'read_sas',
 'read_sql',
 'read_sql_query',
 'read_sql_table',
 'read_stata',
 'read_table'
 
'''

In [ ]:
df = pd.read_csv(r'C:\Users\vadapala\Desktop\pythonex\ML_Model_Production_Flask_API\CHDtest.csv')

In [9]:
df.head()

,Sno,sex,age,education,currentSmoker,cigsPerDay,BPMeds,prevalentStroke,prevalentHyp,diabetes,totChol,sysBP,diaBP,BMI,heartRate,glucose
0,213,0,66,1,0,0,0,0,1,0,285,166.0,98.0,26,95,132
1,338,0,54,1,0,0,0,0,0,0,219,143.5,89.0,28,73,96
2,3217,0,39,1,0,0,0,0,1,0,219,161.0,103.0,29,94,106
3,3268,1,44,1,1,20,0,0,1,0,316,135.0,95.0,25,75,68
4,1731,0,64,3,0,0,0,0,1,0,218,185.0,97.5,21,85,79

In [10]:
df.tail()

,Sno,sex,age,education,currentSmoker,cigsPerDay,BPMeds,prevalentStroke,prevalentHyp,diabetes,totChol,sysBP,diaBP,BMI,heartRate,glucose
95,1640,0,54,1,1,5,0,0,1,0,298,151.5,96.5,30,64,77
96,2135,0,53,2,0,0,0,0,1,0,315,159.0,99.0,27,75,283
97,1403,0,65,1,0,0,0,0,1,0,244,162.0,98.0,24,70,82
98,2111,1,41,2,0,0,0,0,1,0,248,140.0,87.0,30,96,283
99,1034,0,44,2,0,0,0,0,1,0,187,122.0,83.0,30,85,75

In [46]:
df.mean()

Sno                1918.460
sex                   0.340
age                  51.290
education             2.120
currentSmoker         0.430
cigsPerDay            7.520
BPMeds                0.060
prevalentStroke       0.000
prevalentHyp          0.420
diabetes              0.030
totChol             244.320
sysBP               136.440
diaBP                85.125
BMI                  25.800
heartRate            76.960
glucose             108.320
dtype: float64

In [26]:
df['cigsPerDay'].count()

100

In [22]:
df['cigsPerDay'].mean()

7.52

In [23]:
df['cigsPerDay'].median()

0.0

In [24]:
df['cigsPerDay'].mode()

0    0
dtype: int64

In [27]:
df['cigsPerDay'].max()

43

In [28]:
df['cigsPerDay'].min()

0

In [25]:
df['cigsPerDay'].describe()

count    100.000000
mean       7.520000
std       11.161333
min        0.000000
25%        0.000000
50%        0.000000
75%       15.000000
max       43.000000
Name: cigsPerDay, dtype: float64

In [34]:
df['cigsPerDay'].describe()

count    100.000000
mean       7.520000
std       11.161333
min        0.000000
25%        0.000000
50%        0.000000
75%       15.000000
max       43.000000
Name: cigsPerDay, dtype: float64

In [35]:
df['age'].describe(percentiles = [.10, .30, .60, .90])

count    100.000000
mean      51.290000
std        8.473721
min       37.000000
10%       40.000000
30%       44.700000
50%       52.000000
60%       54.000000
90%       63.100000
max       67.000000
Name: age, dtype: float64

In [42]:
 
df1 = pd.DataFrame([[10, 20, 30, 40], [7, 14, 21, 28], [55, 15, 8, 12],
                   [15, 14, 1, 8], [7, 1, 1, 8], [5, 4, 9, 2]],
                  columns=['Apple', 'Orange', 'Banana', 'Pear'],
                  index=['Basket1', 'Basket2', 'Basket3', 'Basket4',
                         'Basket5', 'Basket6'])

In [39]:
print(df1)

         Apple  Orange  Banana  Pear
Basket1     10      20      30    40
Basket2      7      14      21    28
Basket3     55      15       8    12
Basket4     15      14       1     8
Basket5      7       1       1     8
Basket6      5       4       9     2

In [43]:
print("\n----------- Calculate Mean -----------\n")
print(df1.mean())
 
print("\n----------- Calculate Median -----------\n")
print(df1.median())
 
print("\n----------- Calculate Mode -----------\n")
print(df1.mode())

----------- Calculate Mean -----------

Apple     16.500000
Orange    11.333333
Banana    11.666667
Pear      16.333333
dtype: float64

----------- Calculate Median -----------

Apple      8.5
Orange    14.0
Banana     8.5
Pear      10.0
dtype: float64

----------- Calculate Mode -----------

   Apple  Orange  Banana  Pear
0      7      14       1     8

In [47]:

df2 = pd.DataFrame(columns=['Name', 'Age'])

In [48]:
df2

Empty DataFrame
Columns: [Name, Age]
Index: []

In [55]:
df2.loc[1, 'Name'] = 'Rocky'
df2.loc[1, 'Age'] = 23
 
df2.loc[2, 'Name'] = 'Sunny'

In [56]:
df2

    Name  Age
1  Rocky   23
2  Sunny  NaN

In [61]:
df2.loc[2, 'Age'] = 21

In [64]:
df2.drop([3])

    Name Age
1  Rocky  23
2  Sunny  21