In [1]:
import pandas as pd

In [2]:
data = pd.read_excel(r'./iCoreData_Oct-Jan.xls')

data.head()

                   Name      DateTime  AVG_CPU_UTIL  AVG_MEM_UTIL
0   APP_HOST121           2018-10-02      12.177083     28.586111
1   APP_HOST133           2018-10-02       2.426389     37.436111
2   APP_HOST134           2018-10-02       4.949306     39.765278
3   APP_HOST136           2018-10-02       5.928472     21.297917
4   APP_HOST138           2018-10-02       8.874306     33.400000

In [3]:
server_name_list = data.Name.unique()
print(server_name_list)
print(len(server_name_list))

[' APP_HOST121        ' ' APP_HOST133        ' ' APP_HOST134        '
 ' APP_HOST136        ' ' APP_HOST138        ' ' APP_HOST143        '
 ' APP_HOST70         ' ' APP_HOST72         ' ' ICORE_TRANSMIT115  '
 ' ICORE_TRANSMIT46   ' ' OHS_HOST126        ' ' OHS_HOST135        '
 ' OHS_HOST150        ' ' OHS_HOST153        ' ' OHS_HOST87         '
 ' OHS_HOST99         ' ' WEBLOGIC_HOST125   ' ' WEBLOGIC_HOST145   '
 ' WEBLOGIC_HOST149   ' ' WEBLOGIC_HOST152   ' ' WEBLOGIC_HOST154   '
 ' WEBLOGIC_HOST155   ' ' APP_HOST71         ' ' APP_HOST12         '
 ' APP_HOST16         ' ' OHS_HOST11         ' ' OHS_HOST15         '
 ' WEBLOGIC_HOST13    ' ' WEBLOGIC_HOST17    ' ' ICOREDR_APPHOST230 ']
30

In [4]:
obj = data.groupby(['Name'])
for x in obj:
 
    print(x[0])
    print(type(x[0]))
    print('==================================================================')
    print(type(x[1]))
    print('Number of records=',len(x[1]))
    print('###############################END#################################')

 APP_HOST12
<class 'str'>
==================================================================
<class 'pandas.core.frame.DataFrame'>
Number of records= 63
###############################END#################################
 APP_HOST121
<class 'str'>
==================================================================
<class 'pandas.core.frame.DataFrame'>
Number of records= 114
###############################END#################################
 APP_HOST133
<class 'str'>
==================================================================
<class 'pandas.core.frame.DataFrame'>
Number of records= 111
###############################END#################################
 APP_HOST134
<class 'str'>
==================================================================
<class 'pandas.core.frame.DataFrame'>
Number of records= 112
###############################END#################################
 APP_HOST136
<class 'str'>
==================================================================
<class 'pandas.core.frame.DataFrame'>
Number of records= 114
###############################END#################################
 APP_HOST138
<class 'str'>
==================================================================
<class 'pandas.core.frame.DataFrame'>
Number of records= 111
###############################END#################################
 APP_HOST143
<class 'str'>
==================================================================
<class 'pandas.core.frame.DataFrame'>
Number of records= 109
###############################END#################################
 APP_HOST16
<class 'str'>
==================================================================
<class 'pandas.core.frame.DataFrame'>
Number of records= 60
###############################END#################################
 APP_HOST70
<class 'str'>
==================================================================
<class 'pandas.core.frame.DataFrame'>
Number of records= 100
###############################END#################################
 APP_HOST71
<class 'str'>
==================================================================
<class 'pandas.core.frame.DataFrame'>
Number of records= 99
###############################END#################################
 APP_HOST72
<class 'str'>
==================================================================
<class 'pandas.core.frame.DataFrame'>
Number of records= 109
###############################END#################################
 ICOREDR_APPHOST230
<class 'str'>
==================================================================
<class 'pandas.core.frame.DataFrame'>
Number of records= 48
###############################END#################################
 ICORE_TRANSMIT115
<class 'str'>
==================================================================
<class 'pandas.core.frame.DataFrame'>
Number of records= 114
###############################END#################################
 ICORE_TRANSMIT46
<class 'str'>
==================================================================
<class 'pandas.core.frame.DataFrame'>
Number of records= 98
###############################END#################################
 OHS_HOST11
<class 'str'>
==================================================================
<class 'pandas.core.frame.DataFrame'>
Number of records= 57
###############################END#################################
 OHS_HOST126
<class 'str'>
==================================================================
<class 'pandas.core.frame.DataFrame'>
Number of records= 114
###############################END#################################
 OHS_HOST135
<class 'str'>
==================================================================
<class 'pandas.core.frame.DataFrame'>
Number of records= 114
###############################END#################################
 OHS_HOST15
<class 'str'>
==================================================================
<class 'pandas.core.frame.DataFrame'>
Number of records= 57
###############################END#################################
 OHS_HOST150
<class 'str'>
==================================================================
<class 'pandas.core.frame.DataFrame'>
Number of records= 114
###############################END#################################
 OHS_HOST153
<class 'str'>
==================================================================
<class 'pandas.core.frame.DataFrame'>
Number of records= 114
###############################END#################################
 OHS_HOST87
<class 'str'>
==================================================================
<class 'pandas.core.frame.DataFrame'>
Number of records= 113
###############################END#################################
 OHS_HOST99
<class 'str'>
==================================================================
<class 'pandas.core.frame.DataFrame'>
Number of records= 113
###############################END#################################
 WEBLOGIC_HOST125
<class 'str'>
==================================================================
<class 'pandas.core.frame.DataFrame'>
Number of records= 104
###############################END#################################
 WEBLOGIC_HOST13
<class 'str'>
==================================================================
<class 'pandas.core.frame.DataFrame'>
Number of records= 62
###############################END#################################
 WEBLOGIC_HOST145
<class 'str'>
==================================================================
<class 'pandas.core.frame.DataFrame'>
Number of records= 114
###############################END#################################
 WEBLOGIC_HOST149
<class 'str'>
==================================================================
<class 'pandas.core.frame.DataFrame'>
Number of records= 113
###############################END#################################
 WEBLOGIC_HOST152
<class 'str'>
==================================================================
<class 'pandas.core.frame.DataFrame'>
Number of records= 109
###############################END#################################
 WEBLOGIC_HOST154
<class 'str'>
==================================================================
<class 'pandas.core.frame.DataFrame'>
Number of records= 110
###############################END#################################
 WEBLOGIC_HOST155
<class 'str'>
==================================================================
<class 'pandas.core.frame.DataFrame'>
Number of records= 114
###############################END#################################
 WEBLOGIC_HOST17
<class 'str'>
==================================================================
<class 'pandas.core.frame.DataFrame'>
Number of records= 52
###############################END#################################

In [5]:
def cal_percent(max_val,percent):
    return (max_val*percent)
    
val = cal_percent(114,0.50)
# print(int(val))

In [43]:
# Code for avg calculation

# count = 0;
# total = 0;
# for z in y[1]['AVG_CPU_UTIL']:
#     if(z != 0):
#         total += z
#         count += 1
        
# avg = total/count
# print(avg)

3.7012437132619307
3.7012437132619307

In [53]:
for y in obj:
    if( len(y[1]) >= val ):
        
        Name = []
        DateTime = []
        AVG_CPU_UTIL =[]
        
        mean = y[1]['AVG_CPU_UTIL'].mean()
        
        existed_dates = []
        for p in (y[1]['DateTime']):
            existed_dates.append(p.strip())
#         print(existed_dates)
#         print(len(existed_dates))
        
        max_date = '2019-01-23'
        min_date = '2018-10-02'
        dates = pd.date_range(min_date, max_date)
        
#         print(dates)
#         print(len(dates))
        
        for date in dates:
            str_date = str(date)[:10]
            if str_date in existed_dates:
                Name.append(y[1]['Name'])
                DateTime()
            else:
                print('Date not presented')
     
            
#         print(min_date)
#        print(mean)
#         print()
#         print()
#         print('---------------------------------------------------------------------------------------------------')
#         print(y)
#         print(type(y))
#         print(y[0])
#         print(type(y[0]))
#         print(y[1])
#         print(type(y[1]))
#         print(list(y[1]))
        break

TypeError: cannot convert Int64Index->DatetimeIndex

In [45]:
# print(y[1]['DateTime'])
print(type(y[1]['DateTime']))

<class 'pandas.core.series.Series'>
['2018-11-22', '2018-11-23', '2018-11-24', '2018-11-25', '2018-11-26', '2018-11-27', '2018-11-28', '2018-11-29', '2018-11-30', '2018-12-01', '2018-12-02', '2018-12-03', '2018-12-04', '2018-12-05', '2018-12-06', '2018-12-07', '2018-12-08', '2018-12-09', '2018-12-10', '2018-12-11', '2018-12-12', '2018-12-13', '2018-12-14', '2018-12-15', '2018-12-16', '2018-12-17', '2018-12-18', '2018-12-19', '2018-12-20', '2018-12-21', '2018-12-22', '2018-12-23', '2018-12-24', '2018-12-25', '2018-12-26', '2018-12-27', '2018-12-28', '2018-12-29', '2018-12-30', '2018-12-31', '2019-01-01', '2019-01-02', '2019-01-03', '2019-01-04', '2019-01-05', '2019-01-06', '2019-01-07', '2019-01-08', '2019-01-09', '2019-01-10', '2019-01-11', '2019-01-12', '2019-01-13', '2019-01-14', '2019-01-15', '2019-01-16', '2019-01-17', '2019-01-18', '2019-01-19', '2019-01-20', '2019-01-21', '2019-01-22', '2019-01-23']